body {
  margin: 0;
  padding: 0;
  font-family: 'Lora', serif;
  text-align: left;
  background-color: #f4f1ed;
}

.head {
  font-weight: lighter;
  position: fixed;
  bottom: 0;
  right: 0;
  width: 100%;
  letter-spacing: 1px;
  padding: 35px;
  color: #f4f1ed;
  background-color: #334;
  text-align: right;
  margin-bottom: -5px;
  z-index: 100;
}

.title {
  font-size: 25px;
}

.categoryhead {
  padding-top: 20px;
}

.categoryhead h4{
  font-family: "Montserrat", sans-serif;
  background-color: #989;
  color: #f4f1ed;
  border-radius: 2px;
  display: inline;
  padding: 7px 10px;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 1px;
}

.sub {
  font-weight: 400;
  font-style: italic;
  font-size: 14px;
  margin-top: -20px;
}

.searchbar {
  position: fixed;
  bottom: 0;
  margin: 30px;
  width: 300px;
  box-sizing: border-box;
  font-size: 16px;
  padding: 12px 20px 8px 0px;
  transition: all .3s ease-in-out;
  background-color: transparent;
  border: 0px solid;
  border-bottom: 2px solid;
  border-color: #a8a8bf;
  font-family: "Lora", serif;
  color: #f4f1ed;
  box-shadow: none;
  z-index: 101;
}

.searchbar:focus {
  width: 70%;
  border-color: #f4f1ed;
  outline: none;
}

.page {
  margin: 30px;
  margin-bottom: 90px;
}

.result {
  padding-top: 30px;
  padding-bottom: 30px;
  border-bottom: 1px dashed #dcb;
}

.result:first-child {
  padding-top: 0px;
}

.result:last-child {
  border-bottom: 0px;
}

.text {
  line-height: 1.8;
}

::placeholder{
  color: #a8a8bf;
}
